# Copyright 2022 saikocat (@saikocat)
# SPDX-License-Identifier: MIT

if SHIELD_MANCHIKAN_LEFT

    config ZMK_KEYBOARD_NAME
        default "Manchikan"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y

endif # LEFT




if SHIELD_MANCHIKAN_LEFT || SHIELD_MANCHIKAN_RIGHT

    config ZMK_SPLIT
        default y

endif # LEFT RIGHT
